### Lambda functions

In [1]:
lambda input:expression

In [5]:
x = lambda x:x**2
x(9)

81

In [7]:
a = lambda x,y:x+y
a(4,5)

9

### Difference

##### 1.Lambda has no return value
##### 2.One line
##### 3.Not used for code reusability
##### 4.No name

In [8]:
b = lambda x:x[0]=='a'
b('apple')

True

In [9]:
b('banana')

False

In [10]:
b = lambda x:'Even' if x%2== 0 else 'odd'
b(3)

'odd'

In [11]:
b(2)

'Even'

#### Higher order function

In [12]:
def return_sum(func,L):
    
    result = 0
    
    for i in L:
        
        if func(i):
            result = result + i
    return result

L = [11,14,21,23,56,78,45,29,28]

x = lambda x:x%2 == 0
y = lambda x:x%2 != 0
z = lambda x:x%3 == 0

print(return_sum(x,L))
print(return_sum(y,L))
print(return_sum(z,L))

176
129
144

#### Map

In [14]:
L = [1,2,3,4,5,6]
list(map(lambda x:x*2,L))

[2, 4, 6, 8, 10, 12]

In [15]:
list(map(lambda x:x%2==0,L))

[False, True, False, True, False, True]

In [20]:
student = [
    {
        'name':'jacob Martin',
        'father name':'Robert Stevens',
        'Address':'123 Hill Street',
    },{
        'name':'Ricky Smart',
        'father name':'William Smart',
        'Address':'Unknown',
    },{
        'name':'Angela Stevens',
        'father name':'Ros Martin',
        'Address':'3 Upper Street London'
    }
]

list(map(lambda student:student['name'],student))

['jacob Martin', 'Ricky Smart', 'Angela Stevens']

#### Filter

In [22]:
L = [1,2,3,4,5,6,7]
list(filter(lambda x:x>4,L))

[5, 6, 7]

In [24]:
fruits = ['Apple','orange','mango','Guava']
list(filter(lambda fruit:'e'in fruit,fruits))

['Apple', 'orange']

#### Reduce

In [25]:
import functools
L

[1, 2, 3, 4, 5, 6, 7]

In [27]:
functools.reduce(lambda x,y:x+y,L)

28

In [31]:
L1 =[12,34,56,11,21,58]
functools.reduce(lambda x,y:x if x>y else y,L1)

58

In [32]:
functools.reduce(lambda x,y:x if x<y else y,L1)

11

In [33]:
L

[1, 2, 3, 4, 5, 6, 7]

In [34]:
L1 = [item * 2 for item in L]
L1

[2, 4, 6, 8, 10, 12, 14]

In [35]:
L2 = [i**2 for i in range(10)]
L2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
L3 = [i**2 for i in range(10)if i % 2 != 0]
L3

[1, 9, 25, 49, 81]

In [37]:
fruits

['Apple', 'orange', 'mango', 'Guava']

In [40]:
L4 = [fruit for fruit in fruits if fruit[0]=='O']
L4

[]

In [46]:
D = {'Name':'Vartika','Gender':'Female','Age':24}
D.items

D1 = {key:value for key,value in D.items()if len(key) >3}
D1

{'Name': 'Vartika', 'Gender': 'Female'}

In [47]:
L

[1, 2, 3, 4, 5, 6, 7]

D2 = {it