## 1.Tuples

In [1]:
# create

In [6]:
T1 = (1,2,3,4,5)
print(T1)

(1, 2, 3, 4, 5)

In [7]:
T1 = ()
print(T1)

()

In [12]:
T3 = ('Hello',4,5,6)
print(T3)

('Hello', 4, 5, 6)

In [11]:
T4 = (1,2,3,(4,5))
print(T4)

(1, 2, 3, (4, 5))

In [14]:
T5 =(1)
print(T5)
type(T5)

1

int

In [16]:
T5 = ('Hello',)
type(T5)

tuple

In [17]:
T6 = tuple('Goa')
print(T6)

('G', 'o', 'a')

In [18]:
T6 = tuple((1,2,3,4,5))
print(T6)

(1, 2, 3, 4, 5)

In [19]:
#Access

In [21]:
T2 = (1,2,3,4,5)
print(T2[0])
print(T2[-1])
print(T2[:4])

1
5
(1, 2, 3, 4)

In [23]:
#Edit

In [25]:
L = [1,2,3,4,5]
L[0] = 100
print(L)

[100, 2, 3, 4, 5]

In [27]:
# Tuples are immutable.editing is not possible

In [28]:
# addition is also not possible in tuple

In [29]:
# You cannot delete a part of a tuple

In [31]:
T1+T2

(1, 2, 3, 4, 5)

In [32]:
1 in T2

True

In [34]:
# Function
#Everything is possible like #len(),min(),max(),sum(),sorted()

###### Tuples are read only datatype

### 2.Sets

In [35]:
#Sets do not allow duplicates
#Sets have no indexing/slicing
#Sets don't allow mutable datatype
#Sets itself is a mutable datatype

In [37]:
#Create
S1 = {}
print(S1)
type(S1)

{}

dict

In [38]:
S1 = set()
print(S1)

set()

In [39]:
S1 = {1,2,3,4,5}
print(S1)

{1, 2, 3, 4, 5}

In [40]:
S2 = {'Hello',4.5,True}
print(S2)

{True, 4.5, 'Hello'}

In [41]:
S3 = {1,1,2,2,3,3}
print(S3)

{1, 2, 3}

In [42]:
S4 = {[1,2,3],'Hello'}
print(S4)

TypeError: unhashable type: 'list'

In [43]:
S4 = {(1,2,3),'Hello'}
print(S4)

{(1, 2, 3), 'Hello'}

In [44]:
S5 = {{1},{2}}
print(S5)

TypeError: unhashable type: 'set'

In [48]:
#Access items
#You cannot access item out of the set
# You can not edit sets

In [53]:
print(S1)

{1, 2, 3, 4, 5, 6}

In [54]:
id(S1)

2927873949024

In [55]:
L = list(S1)
print(L)

[1, 2, 3, 4, 5, 6]

In [56]:
L[0]=200
print(L)

[200, 2, 3, 4, 5, 6]

In [58]:
id(S1)

2927874008896

In [57]:
S1 = set(L)
print(S1)

{2, 3, 4, 5, 6, 200}

In [49]:
#Add

In [52]:
S1.add(6)
print(S1)

{1, 2, 3, 4, 5, 6}

In [59]:
#Delete
#1.del
#2.remove
#3.pop

In [61]:
S1.remove(200)
print(S1)

{2, 3, 4, 5, 6}

In [62]:
S1.pop()

2

In [63]:
#Set operation

In [64]:
S1 = {1,2,3,4,5}
S2 = {3,4,5,6,7}
S1+S2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [65]:
for i in S1:
    print(i)

1
2
3
4
5

In [66]:
1 in S1

True

In [67]:
S1*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [68]:
#Function

In [69]:
len(S1)

5

In [70]:
min(S1)

1

In [71]:
max(S1)

5

In [72]:
sum(S1)

15

In [73]:
sorted(S1)

[1, 2, 3, 4, 5]

In [74]:
sorted(S1,reverse = True)

[5, 4, 3, 2, 1]

In [75]:
S1.union(S2)

{1, 2, 3, 4, 5, 6, 7}

In [76]:
S1.intersection(S2)

{3, 4, 5}

In [77]:
S1.difference(S2)

{1, 2}

In [78]:
S2.difference(S1)

{6, 7}

In [79]:
S1.symmetric_difference(S2)

{1, 2, 6, 7}

In [80]:
S1.isdisjoint(S2)

False

In [81]:
S1.issubset(S2)

False

In [82]:
S1.issuperset(S2)

False

### 3.Dictionary

In [83]:
{'Name':'Vartika','Gender':'Female'}

{'Name': 'Vartika', 'Gender': 'Female'}

In [84]:
# R1: Dictionary has no indexing
# R2: Dictionary is a mutable datatype
# R3: Keys-immutable;values-they can be mutable
# R4: Keys should be unique

In [85]:
#Mutable - List/sets/Dictionary
#Immutable - Strings/tuples/int/float/boolean/complex

In [86]:
# Create

In [87]:
D = {}
print(D)

{}

In [88]:
D = {'Name':'Vartika','Gender':'Female'}
print(D)

{'Name': 'Vartika', 'Gender': 'Female'}

In [89]:
D1 = {[1,2,3]:'Vartika'}
print(D1)

TypeError: unhashable type: 'list'

In [90]:
D1 = {(1,2,3):'Vartika'}
print(D1)

{(1, 2, 3): 'Vartika'}

In [92]:
D2 = {'Name':'Vartika','Name':'Singh'}
print(D2)

{'Name': 'Singh'}

In [93]:
D3 = {'Name':'Vartika','college':'HIT','marks':{'M1':56,'Ds':54,'Eng':67}}
print(D3)

{'Name': 'Vartika', 'college': 'HIT', 'marks': {'M1': 56, 'Ds': 54, 'Eng': 67}}

In [94]:
# Accessing items from the dictionary

In [95]:
print(D1)

{(1, 2, 3): 'Vartika'}

In [97]:
D['Name']

'Vartika'

In [98]:
D['Gender']

'Female'

In [102]:
D3['marks']['Ds']

54

In [103]:
# Edit

In [105]:
D['Name']='Nishu'
print(D)

{'Name': 'Nishu', 'Gender': 'Female'}

In [106]:
D3['marks']['DS']=43
print(D3)

{'Name': 'Vartika', 'college': 'HIT', 'marks': {'M1': 56, 'Ds': 54, 'Eng': 67, 'DS': 43}}

In [108]:
# Add new key-value pairs
print(D)

{'Name': 'Nishu', 'Gender': 'Female'}

In [109]:
D['Age']=23
print(D)

{'Name': 'Nishu', 'Gender': 'Female', 'Age': 23}

In [110]:
D3['marks']["M2"]=50
print(D3)

{'Name': 'Vartika', 'college': 'HIT', 'marks': {'M1': 56, 'Ds': 54, 'Eng': 67, 'DS': 43, 'M2': 50}}

In [111]:
# Delete

In [112]:
D5={}
del D5

In [118]:
print(D)

{'Name': 'Nishu', 'Age': 23}

In [119]:
del D['Age']
print(D)

{'Name': 'Nishu'}

In [121]:
D.clear()
print(D)

{}

In [122]:
#Operations

In [123]:
print(D)

{}

In [124]:
print(D1)

{(1, 2, 3): 'Vartika'}

In [125]:
print(D2)

{'Name': 'Singh'}

In [126]:
print(D3)

{'Name': 'Vartika', 'college': 'HIT', 'marks': {'M1': 56, 'Ds': 54, 'Eng': 67, 'DS': 43, 'M2': 50}}

In [127]:
D1 + D2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [128]:
D1 * 3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [129]:
for i in D3:
    print(i)

Name
college
marks

In [130]:
for i in D3:
    print(i,D3[i])

Name Vartika
college HIT
marks {'M1': 56, 'Ds': 54, 'Eng': 67, 'DS': 43, 'M2': 50}

In [131]:
"Vartika" in D3

False

In [132]:
'Name' in D2

True

In [133]:
len(D3)

3

In [134]:
min(D3)

'Name'

In [135]:
max(D3)

'marks'

In [136]:
sorted(D3)

['Name', 'college', 'marks']