# 1. Print Function

In [22]:
print('Hello World')

Hello World

In [2]:
print('6')

6

In [3]:
print('5.6')

5.6

In [7]:
print(False)

False

In [9]:
print('India','Pak istan','Nepal','Srilanka',sep='-')

India-Pakistan-Nepal-Srilanka

In [6]:
print('India',5,True)

India 5 True

In [10]:
print('Hello')
print('World')

Hello
World

In [11]:
print('hello',end=' ')
print('world')

hello world

# 2. datatype

In [12]:
#integer
print(78889373778477575788483883883847748488484778483848848484848484848484888)

78889373778477575788483883883847748488484778483848848484848484848484888

In [13]:
print(1e309)

inf

In [14]:
#float
print(4.5)
print(1.7e309)

4.5
inf

In [15]:
print(1.7e305)

1.7e+305

In [17]:
#boolean
print(True)
print(False)

True
False

In [19]:
complex
print(4+5j)

(4+5j)

In [21]:
#string
print('Kolkata')
print("Kolkata")

Kolkata
Kolkata

In [24]:
#list
print([1,2,3,4,5,6])

[1, 2, 3, 4, 5, 6]

In [25]:
#tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [26]:
 #sets
 print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [27]:
#dict
print({'Name':'Vartika','Age':'24','Gender':'Female'})

{'Name': 'Vartika', 'Age': '24', 'Gender': 'Female'}

# Comments

In [29]:
#comments
# this is a comment

# Variables

In [30]:
name='vartika'

In [31]:
print(name)

vartika

In [32]:
name ='qwerty'

In [33]:
print(name)

qwerty

In [34]:
x='what is your name?'

In [35]:
print(x)

what is your name?

#### - no variable declaration

#### - dynamic typing(specification of datatype not required)
#### - static typing(specification of datatype is required)

In [64]:
x=4
print(x)

4

x=True
print(x)

####  -dynamic binding(when a variable can store multiple datatype)
####  -static binding(when a variable cannot store multiple datatype)

In [44]:
# special syntax
a=2;b=3;c=4
print(a)
print(b)
print(c)

2
3
4

In [45]:
a,b,c=2,5,7
print(a)
print(b)
print(c)

2
5
7

In [46]:
a=b=c=8
print(a)
print(b)
print(c)

8
8
8

In [47]:
a=b=c=10
print(a,b,c)

10 10 10

In [48]:
a=b=c=1
print(a,b,c, sep='//')

1//1//1

In [49]:
a=b=c=65
print(a,b,c, sep='#',end=' ')

65#65#65

In [51]:
a=b=c=54
print(a,b,c,sep='$')

54$54$54

In [57]:
a=b=c=8
print(a,b)

print(c)

8 8
8

# Identifiers and Keywords

#### keyword is a word that is reserved by a program because the word has a special meaning.Keywords can be commands or parameters.Every programming language has a set of keywords that cannot be used as variable names.

In [59]:
# python has 33 keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# identifier
is a name used to identify a variable,function,class,module,or other object.

#### Rules for setting identifiers

- can only start with an alphabet or _
- Followed bu 0 or more letter,_and digits
- keywords cannot be used as an identifiers

In [66]:
name='Vartika'
print(name)

Vartika

In [67]:
_='Vartika'
print(_)

Vartika

In [68]:
&='Vartika'
print(&)

SyntaxError: invalid syntax (Temp/ipykernel_13260/2068712926.py, line 1)

In [69]:
name$='vartika'
print(name$)

SyntaxError: invalid syntax (Temp/ipykernel_13260/850611557.py, line 1)

In [70]:
name1=(vartika)
print(name1)

NameError: name 'vartika' is not defined

In [71]:
name1 ='Vartika'
print(name1)

Vartika

In [72]:
name@ ='vartika'
print(name@)

SyntaxError: invalid syntax (Temp/ipykernel_13260/1621182694.py, line 1)

In [73]:
name_0 ='Vartika'
print(name_0)

Vartika

# taking user input and type conversion

In [74]:
input()

32

'32'

In [75]:
input('apna naam bata')

apna naam bataVartika

'Vartika'

In [76]:
firstinput('enter the first number')

NameError: name 'firstinput' is not defined

##### -type function tells the datatype

In [77]:
#type
type(1)

int

In [78]:
type(True)

bool

In [79]:
type(1.3)

float

In [80]:
type({1,2,3,4})

set

In [81]:
type([1,2,3,4])

list

In [82]:
type('1')

str

In [83]:
first_num = input('Enter the first number')
second_num = input('Enter the second number')

Enter the first number4
Enter the second number6

In [84]:
print(first_num + second_num)

46

# Types of type conversion

#### -implicit - automatic type conversion
#### -explicit - defined by the user in the program

In [86]:
in[4+5.5]

SyntaxError: invalid syntax (Temp/ipykernel_13260/742551852.py, line 1)

In [87]:
4+5.5

9.5

In [88]:
5+5+6j

(10+6j)

In [89]:
7*0

0

In [90]:
#int
int(4.6)

4

In [91]:
str(5)

'5'

In [92]:
bool(88)

True

In [93]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [94]:
dict('Kolkta')

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [95]:
 first_num = input('Enter the first number')
 second_num = input('enter the second number')

int(first_num)+int(second_num)

Enter the first number45
enter the second number65

110

In [96]:
first_num =int(input('enter the first number'))
second_num = int(input('Enter the second number'))
 
first_num+second_num

enter the first number23
Enter the second number5

28

In [97]:
a = int(input('enter 1st number'))
b = int(input('enter 2nd number'))

a+b

enter 1st number2
enter 2nd number2

4

# Literals

literal is a raw data given in a variable. 

## Types

###### -Numeric Literals 
###### -String Literals
###### -Boolean Literals
###### -Special literals

### 1. Numeric Literals

In [98]:
a=0b1010 #Binary Literal
b=100 #Decimal Literal
c=0o310 #Octal Literal
d=0x12c #Hexadecimal Literal

#Float Literal
float_1 =10.6
float_2 = 1.5e2
float_3 = 1.5e-3

#Complex Literal
x = 3.14j

print(a,b,c,d)
print(float_1,float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.6 150.0 0.0015
3.14j 3.14 0.0

### 2.String literals

In [102]:
string ='this is Python'
strings ="This is Python"
char = "c"
multiline_str ="""This is a multiline string with more than one line code."""
unicode =u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

this is Python
This is Python
c
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

### 3. Boolean Literal

In [104]:
a=True+ 4
b=False + 10

print("a:",a)
print("b:",b)

a: 5
b: 10

### 4. Special Literal

In [105]:
a=None
print(a)

None

In [106]:
c=34+45

In [107]:
x

3.14j

In [108]:
k=None

In [109]:
# variable declaration
k=None

# Operators

 operators are used to perform operations on variables and values. Python has the following operators:

- Arithmetic operators
- Comparison operator
- Logical operators 
- bitwise operators
- Assignment operators 
- Identity operators
- Membership operator

### 1. Arithmetic operators

In [2]:
x=6
y=7

print(x+y)

13

In [3]:
print(x-y)

-1

In [4]:
print(x*y)

42

In [5]:
print(x%y)

6

In [6]:
print(x/y)

0.8571428571428571

In [7]:
print(x ** y)

279936

In [8]:
print(x // y)

0

### 2.Comparison operator

In [9]:
print(x>y)

False

In [10]:
print(x<y)

True

In [11]:
print(x>=y)

False

In [12]:
print(x<=y)

True

In [13]:
print(x==y)

False

In [14]:
print(x!=y)

True

### 3.Logical operator

In [15]:
x=True
y=False

print(x or y)

True

In [16]:
print(x and y)

False

In [17]:
print(not x)

False

In [18]:
print(not y)

True

### 4.Bitwise operators

works on binary operators

In [21]:
x=2
y=3

In [22]:
print(x & y)

2

In [23]:
print(x | y)

3

In [24]:
print(x >> 2)

0

In [25]:
print(y<<3)

24

In [27]:
print(~x)

-3

### 5.Assignment operator

In [28]:
a=3
print(a)

3

In [31]:
a +=3
print(a)

6

In [32]:
a-=3
print(a)

3

In [33]:
a=a+3
print(a)

6

### 6.Identity operator

In [34]:
a=4
b=4

print(a is b)

True

In [38]:
a= 'Hello'

In [39]:
id(a)

2838887697776

In [40]:
b = 'Hello'

In [41]:
id(b)

2838887697776

In [43]:
a = 5
b = 5

In [44]:
id(a)

2838806358448

In [45]:
id(b)

2838806358448

In [46]:
a = 256
b = 256

In [47]:
id(a)

2838806555024

In [48]:
id(b)

2838806555024

In [49]:
a = 257
b = 257

In [50]:
id(a)

2838887685072

In [51]:
id(b)

2838887684144

In [52]:
a is b

False

### 7.Membership operator

In [57]:
x = 'Delhi'
print('Del' in x)

True

# If else statement

In [15]:
# taking user input
email = input("Enter your email")
password = input('Enter your password')


# check
if email == 'vartika@gmail.com' and password =='1234':
    print('Welcome')
    # do this
elif email == 'vartika@gmail.com' and password != '1234':
    print('Password Incorrect')
    password = input('Please type your password again')
    if password =='1234':
        print('Finally correct')
    else:
        print('still incorrect')
else:
    print('Incorrect credentials')
    # do this

Enter your emailvartika@gmail.com
Enter your password677
Password Incorrect
Please type your password again1234
Finally correct

# Indentation

In [29]:
name = 'xyz'
if name == 'xyz':
    print('line 1')
    print('line2')
    if 5 == 5:
        print('line 5')
else:
    print('line3')

line 1
line2
line 5

In [ ]:
a = int(input('Enter your first number'))
b = int(input('Enter your second number'))
c = input('enter the operation')
if c == "+":
    print(a+b)
elif c == "-":
    print(a-b)
elif c == "*":
    print(a*b)
else:
    print(a/b)

Enter your first number5
Enter your second number876453