In [3]:
#SI
#principle + interest

In [4]:
#cylinder volume.cost 40 rs milk

In [5]:
#no. divisible by 6&3

In [6]:
#temperature and humidity input. determine weather

In [7]:
#three digit number .square of each digit addition

In [9]:
#armstrong number()

In [10]:
#narcissist num four digit.

In [13]:
#in hand salary. deduct hra10%,da5%,pf3%,tax(5-10l - 10%),(11-20l -20%)(20< 30%)(0-1l print k)

In [14]:
#menu driven program- 1.cm to ft  2.kl to miles  3.usd to rs  4.exit

# 1. S.I

In [8]:
p = int(input('Enter the principle'))
r = int(input('Enter rate of interest'))
t = int(input('Enter number of days'))

si = (p * r * t)/100
print('Your Simple Interest is-',si)

a = p + si
print('Your amount is-',a)

Enter the principle7000
Enter rate of interest6
Enter number of days8
Your Simple Interest is- 3360.0
Your amount is- 10360.0

# 2. Volume of cylinder

In [1]:
r = float(input('Enter radius'))
h = float(input('Enter height'))

v = 3.14*(r**2)*h
print('Your volume is-',v)

cost = v/1000 * 40
print('Your cost is-','Rs',cost)

Enter radius7
Enter height8
Your volume is- 1230.88
Your cost is- Rs 49.235200000000006

# 3. number divisible by 3 & 6

In [23]:
user_input = int(input('Enter your number'))
if user_input % 3 ==0  and user_input % 6 == 0:
    print('Divisible by 3 & 6')
else:
    print('Not dividible by 3 & 6')

Enter your number45
Not dividible by 3 & 6

# 4. Weather

In [10]:
temp = int(input('Enter temperature'))
humid = int(input('Enter humidity'))

if temp>=30 and humid>=90:
    print('Hot and Humid')
elif temp>=30 and humid<90:
    print('Hot')
elif temp<30 and humid>=90:
    print('Cool and Humid')
else:
    print('cool')

Enter temperature10
Enter humidity10
cool

# 5. addition of square of three digit number

In [1]:
user_input = int(input('Enter your three digit number'))
num = user_input

a = num % 10
num = num // 10
b = num % 10
c = num // 10

add = (a**2)+(b**2)+(c**2)
print('Required number is-',add)

Enter your three digit number234
Required number is- 29

# 6.Armstrong Number

In [2]:
user_input = int(input('Enter a three digit number'))
num = user_input

a = num % 10
num = num // 10
b = num % 10
c = num // 10

if (a**3)+(b**3)+(c**3) == user_input:
    print('Yes it is an Armstrong number')
else:
    print('nope not an Armstrong number')

Enter a three digit number153
Yes it is an Armstrong number

# 7. Narcissistic number four digit

In [3]:
user_input = int(input('Enter a four digit number'))
num = user_input

a = num % 10
num = num // 10
b = num % 10
num = num // 10
c = num % 10
d = num // 10
           
if (a**4)+(b**4)+(c**4)+(d**4) == user_input:
    print('yes,narcissistic num')
else:
    print('no,not a narcissistic num')

Enter a four digit number1634
yes,narcissistic num

# 8. Salary program

In [5]:
user_input = float(input('Enter your annual salary'))
if user_input>500000 and user_input<1000000:
    tax = (10/100)*user_input
    temp_salary = user_input - tax
    
elif user_input>1000000 and user_input<2000000:
    tax = (20/100)*user_input
    temp_salary = user_input - tax
else:
    tax =(30/100)*user_input
    temp_salary = user_input - tax
    
print('after tax reduction-',temp_salary)

hra = (10/100)*temp_salary
da = (5/100)*temp_salary
pf = (3/100)*temp_salary
    
in_handsalary = (temp_salary - hra - da - pf)/12
print('In_Handsalary-',in_handsalary)

if in_handsalary<=999:
    print(in_handsalary)
elif in_handsalary>=1000 and in_handsalary<=9999:
    print((in_handsalary/1000),'K')
elif in_handsalary>=100000 and in_handsalary<=9999999:
    print((in_handsalary/100000),'l')
else:
    print((in_handsalary/10000000),'cr')

Enter your annual salary600000000
after tax reduction- 420000000.0
In_Handsalary- 28700000.0
2.87 cr

# 9. Menu driven program

In [5]:
user_input = input('''
Hi! Welcome to my page.
What would you like to do?

1. Convert cm to inches
2. Convert km to miles
3. Convert usd to inr
4. Exit
''')
if user_input == '1':
    cm = float(input('Enter cm value'))
    inch = cm * 0.394
    print(inch)

elif user_input == '2':
    km = float(input('Enter km value'))
    miles = km * 0.621
    print(miles)
    
elif user_input == '3':
    usd = float(input('Enter usd value'))
    inr = usd * 76.63
    print(inr)
    
else:
    print('Exit')

Hi! Welcome to my page.
What would you like to do?

1. Convert cm to inches
2. Convert km to miles
3. Convert usd to inr
4. Exit
4
Exit